extends /app/views/layouts/auth

append content
  .vh-100.container.mx-auto
    .row
      .col-12
        .d-flex.min-vh-100.justify-content-center.align-items-center
          .card(style="min-width:320px;")
            .card-body
              form#user_signin(action="/user/signin" method="POST")
                //- email
                .form-group.mt-3
                  label.form-label(for="email") Email
                  input#email.form-control(type="email" name="username" placeholder="Email" required)
                //- password
                .form-group.mt-3
                  label.form-label(for="password") Password
                  input#password.form-control(type="password" name="password" placeholder="Password" required)
                //- submit
                .form-group.mt-3
                  button#btn_user_signin.btn.btn-primary(type="submit") Create