mixin base-breadcrumb()
  ul.breadcrumb.breadcrumb-separatorless.fw-semibold
    li.breadcrumb-item.text-gray-700.fw-bold.lh-1
      a.text-gray-500(href='../dist/index.html')
        i.ki-duotone.ki-home.fs-3.text-gray-400.mx-n1
    li.breadcrumb-item
      i.ki-duotone.ki-right.fs-4.text-gray-700.mx-n1
    li.breadcrumb-item.text-gray-700 Bidding