mixin eventCard(event = {})
  .col
    .card.rounded.border.text-body.shadow-sm
      .card-body
        .d-flex.flex-column.p-3
          h3.fs-4.fw-semibold.lh-1.text-nowrap.text-black= event.title
          p.small.text-muted= event.description
        .p-3.pt-0
          .d-flex.align-items-center.gap-2.mb-2
            svg.lucide.lucide-calendar(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M8 2v4')
              path(d='M16 2v4')
              rect(width='18' height='18' x='3' y='4' rx='2')
              path(d='M3 10h18')
            span
              | #{event.date}
          .d-flex.align-items-center.gap-2.mb-2
            svg.lucide.lucide-map-pin(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0')
              circle(cx='12' cy='10' r='3')
            span
              | #{event.location}
        .d-flex.align-items-center.p-3.pt-0
          button(class="d-inline-flex align-items-center justify-content-center gap-2 text-sm fw-medium rounded btn-black  h-100 px-4 py-2 w-100").
            Comprar Ticket
       
