extends /app/views/layouts/dashboard

append content
  .vh-100.container.mx-auto
    +hero-color({ title: "Hello, World!", description: "This is a test" })
      block hero-actions
        a.btn.btn-success(href="#") Click me
          +icon('home')