svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 32 32' xml:space='preserve' fill='#000000')
  g(stroke-width='0')
  g(stroke-linecap='round' stroke-linejoin='round')
  g
    style(type='text/css').
      .stone_een{fill:currentColor;}
    path.stone_een(d='M30,5.954v18.092c0,1.415-1.429,2.382-2.743,1.857L15,21v3c0,0.552-0.448,1-1,1H6c-0.552,0-1-0.448-1-1 v-4c-0.552,0-1-0.448-1-1v-8c0-0.552,0.448-1,1-1h5c0.552,0,1,0.448,1,1v8c0,0.552-0.448,1-1,1H7h0v3h6v-2.8l0,0l-1-0.399v-9.599 l15.257-6.105C28.571,3.572,30,4.539,30,5.954z M3,11c-1.105,0-2,0.895-2,2v4c0,1.105,0.895,2,2,2V11z')
